In [ ]:
import sys
import pyodbc
class Restaurant():
    def __init__(self):
        try:
            self.conn=pyodbc.connect('Driver={SQL Server};' 'Server=MSTDPUNHPLT145;' 'Database=hotel;' 'Trusted_Connection=yes;')
            self.cursor=self.conn.cursor()
            self.cart={}
            print('database connectivity done successfully')
        except Exception as e:
            print('no connectivity',e)
    def show_menu(self):
        try:
            self.cursor.execute('select * from menu')
            print('this is menu')
            for i in self.cursor:
                print(i)
        except Exception as e:
            print('error for fetching menu',e)
    def take_order(self):
        while True:
            try:
                menu_id=int(input('enter menu id you want to buy'))
                qty=int(input('enter how many quanttites you want'))

                self.cursor.execute('select * from menu where menu_id=?',(menu_id,))
                item=self.cursor.fetchone()
                if item is None:
                    print('this menu is not in our menu card')
                    continue
                total=item[2]*qty
                # insert values into dictionary now
                self.cart[menu_id]={'name':item[1].strip(),'price':item[2],'qty':qty,'total':total}
                #insert values into orders
                self.cursor.execute('insert into orders  (menu_id,item_name,price,quantity,total) values(?,?,?,?,?)',(item[0],item[1],item[2],qty,total))
                self.conn.commit() # to save permannetly
            except:
                print(" System Exception Info:", sys.exc_info()[1])

            choice=input('do you want more order(Y/N): ').upper()
            if choice=='N':
                break
        return self.cart        
    def show_order_table(self):
        try:
            print('order table is as below')
            self.cursor.execute('select * from orders')
            for i in self.cursor :
                print(i)
        except:
            print('Exceptuon occured',sys.exc_info()[1])  
    
    def print_bill(self):

        try:
       

            # get latest order_id
            self.cursor.execute("select max(order_id) from orders")
            order_id = self.cursor.fetchone()[0]
            total=0
            print("\n" + "="*60)
            print("           WELCOME TO ABHIS HOTEL")
            print("="*60)
            print(f"Order ID : {order_id}")
            print("-"*60)
            print("MenuID  Item Name        Qty   Price   Total")
            print("-"*60)
            
            for menu_id, i in self.cart.items():
                print(f"{menu_id:<7} {i['name']:<15} {i['qty']:<5} {i['price']:<7} {i['total']}")
                total += i['total']
            print("-"*60)
            print(f"{'Grand Total':<35} {total}")
            print("="*60)
        except: 
            print(" System Exception Info:", sys.exc_info()[1])   
            
            
    def close_conn(self):
        try:
            self.conn.close()
            print('connection closed successfully')
        except:
            print('Exceptuon occured',sys.exc_info()[1])

In [39]:
obj=Restaurant()
obj.show_menu()

database connectivity done successfully
this is menu
(1, 'Dosa           ', 50)
(2, 'Idli           ', 30)
(3, 'Vada           ', 25)
(4, 'Uttapam        ', 60)
(5, 'Pav Bhaji      ', 80)
(6, 'Misal Pav      ', 70)
(7, 'Poha           ', 35)
(8, 'Upma           ', 40)
(9, 'Samosa         ', 20)
(10, 'Biryani        ', 150)
(11, 'Tea            ', 15)

In [35]:
obj.take_order()

{4: {'name': 'Uttapam', 'price': 60, 'qty': 5, 'total': 300},
 7: {'name': 'Poha', 'price': 35, 'qty': 8, 'total': 280}}

In [36]:
obj.show_order_table()

order table is as below
(1, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 43, 30, 413000))
(2, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 43, 40, 437000))
(3, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 43, 50, 923000))
(4, 5, 'Pav Bhaji      ', 80, 4, 320, datetime.datetime(2026, 2, 15, 13, 44, 8, 13000))
(5, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 45, 51, 413000))
(6, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 46, 2, 70000))
(7, 4, 'Uttapam        ', 60, 3, 180, datetime.datetime(2026, 2, 15, 13, 49, 45, 7000))
(8, 3, 'Vada           ', 25, 4, 100, datetime.datetime(2026, 2, 15, 13, 49, 50, 760000))
(9, 4, 'Uttapam        ', 60, 4, 240, datetime.datetime(2026, 2, 15, 13, 52, 24, 507000))
(10, 6, 'Misal Pav      ', 70, 6, 420, datetime.datetime(2026, 2, 15, 13, 52, 28, 763000))
(11, 4, 'Uttapam        ', 60, 4, 240, datetime.datetime(2026, 2, 15, 13, 53, 40, 260000))
(12, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 53, 44, 167000))
(13, 4, 'Uttapam        ', 60, 4, 240, datetime.datetime(2026, 2, 15, 13, 54, 36, 263000))
(14, 5, 'Pav Bhaji      ', 80, 5, 400, datetime.datetime(2026, 2, 15, 13, 54, 39, 320000))
(15, 7, 'Poha           ', 35, 2, 70, datetime.datetime(2026, 2, 15, 23, 11, 44, 643000))
(16, 11, 'Tea            ', 15, 2, 30, datetime.datetime(2026, 2, 15, 23, 11, 55, 493000))
(17, 1, 'Dosa           ', 50, 2, 100, datetime.datetime(2026, 2, 16, 16, 13, 51, 160000))
(18, 1, 'Dosa           ', 50, 2, 100, datetime.datetime(2026, 2, 16, 16, 19, 35, 480000))
(19, 1, 'Dosa           ', 50, 1, 50, datetime.datetime(2026, 2, 16, 16, 21, 59, 467000))
(20, 3, 'Vada           ', 25, 4, 100, datetime.datetime(2026, 2, 17, 14, 57, 17, 480000))
(21, 1, 'Dosa           ', 50, 3, 150, datetime.datetime(2026, 2, 17, 15, 5, 20, 617000))
(22, 1, 'Dosa           ', 50, 2, 100, datetime.datetime(2026, 2, 17, 15, 13, 53, 250000))
(23, 5, 'Pav Bhaji      ', 80, 67, 5360, datetime.datetime(2026, 2, 17, 15, 35, 15, 27000))
(24, 7, 'Poha           ', 35, 4, 140, datetime.datetime(2026, 2, 17, 15, 48, 22, 657000))
(25, 6, 'Misal Pav      ', 70, 4, 280, datetime.datetime(2026, 2, 17, 15, 48, 26, 397000))
(26, 1, 'Dosa           ', 50, 4, 200, datetime.datetime(2026, 2, 17, 15, 49, 19, 393000))
(27, 2, 'Idli           ', 30, 4, 120, datetime.datetime(2026, 2, 17, 15, 49, 23, 93000))
(28, 4, 'Uttapam        ', 60, 5, 300, datetime.datetime(2026, 2, 17, 15, 50, 23, 343000))
(29, 7, 'Poha           ', 35, 8, 280, datetime.datetime(2026, 2, 17, 15, 50, 26, 793000))

In [37]:
obj.print_bill()

============================================================
           WELCOME TO ABHIS HOTEL
============================================================
Order ID : 29
------------------------------------------------------------
MenuID  Item Name        Qty   Price   Total
------------------------------------------------------------
4       Uttapam         5     60      300
7       Poha            8     35      280
------------------------------------------------------------
Grand Total                         580
============================================================

In [18]:
obj.close_conn()

connection closed successfully